.InputForm  {
    border: 1px rgba( 226, 232, 240  , 1) solid;
    color: rgb( 30, 41, 59 );
    font-weight: 400;;
    box-sizing: border-box;
    display: inline-block;
    line-height: 18px;
    border-radius: 4px;
    position: relative;
    width: 100%;
    margin-top: 24px;
}
.InputForm .content {
   /* border: rgba( 203,213,225 ,  1 ) 1px solid;*/
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 16px;
    min-height: 40px;
    background-color: #fff;
}
.InputForm .inputContainer {
    display: flex;
    position: static;
    align-items: center;
   /* width: 88px; */
   width: 100%; 
    padding: 0; 
    border: 0 ; 
}

.InputForm .input {
    font: inherit;
    background: transparent;
    color: currentColor;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
    text-align: inherit;
    box-sizing: content-box;
    padding: 14px 0 ;
    margin-top: 0 ;
}
.InputForm .label {
    top: -25px;
    height: auto;
    padding-top: 0 ;
    overflow: visible;
    pointer-events: auto;
    position: absolute;
    left: 0 ;
    box-sizing: content-box;
    width: 100%;
}

.InputForm.error {
    color: red;
    border: 0;
}

.InputForm.error .content  {
    border-color: red; 
}
.InputForm.error .error_text {
    color: red;
    font-size: 12px;
    
}