/** chat-room **/
#chat {
    flex: 1;
    width: 100%;
    overflow-y: auto;
}
#chat-handle {
    width: 100%;
    height: 50px;
    border-top: #999 0.1px groove;
    /*border-bottom: #999 0.1px groove;*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#chat-join-btn {
    font-size: 14px;
    width: 100%;
    margin: 0 10px;
}
#chat-rules {
    position: absolute;
    bottom: 0px;
    /*border-top: #999 0.1px groove;*/
    background-color: #0C090A;
    padding: 15px;
    width: 100%;
    display: none;
}
#chat-rules-head {
    display: flex;
    flex-direction: row;
}
#chat-rules-title {
    display: flex;
    flex: 1;
    font-size: 22px;
    margin-bottom: 15px;
    font-family: 'montserrat-extrabold';
}
#chat-rules-close {
    font-size: 22px;
    cursor: pointer;
    padding: 5px;
}
#chat-rules-textes {
    font-size: 14px;
    text-align: left;
}

#chat-rule-username {
    font-size: 14px;
    margin-top: 15px;
    width: 100%;
    padding: 5px;
    background-color: #34282C;
    border: 0;
    color: #fff;
}
#chat-accept-btn {
    font-size: 14px;
    width: 100%;
    margin: 0 10px;
   /* display: none;*/
}
#chat-input-container {
    width: 100%;
    flex: 1;
    display: flex;
    height: 38px;
    margin: 0;
}
#chat-input {
    display: flex;
    flex: 1;
    font-size: 14px;
    color: #fff;
    background-color: #34282C;
    border: 0;
    padding-left: 5px;
}
#chat-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.chat-line {
    margin: 5px;
    font-size: 14px;
}
.chat-line-hour {
    color: #999;
    margin-right: 5px;
}
.chat-line-pseudo {
    margin-right: 5px;
    color: #007bff;
    font-family: 'ComfortaaBold';
}
.chat-line-text {
   color: inherit; 
}
#visio-chat-reduce-handler {
    display: none;
}

#chat-parent {
    display: flex;
    flex: 1;
    flex-direction: column;
}

#chat-content {
    display: block;
    text-align: left;
}



