.flexOne {
    flex: 1;
}

.flex {
    display: flex;
}
.full-page {
    width: 100vw;
    height: 100vh;
}

.text-center {
    text-align: center;
}

.box-center {
    justify-content: center;
    align-items: center;
}

.jc-end {
    justify-content: flex-end;
}

.column {
    flex-direction: column;
}
.row {
    flex-direction: row;
}

.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}

.cButton {
    min-width: 320px;
    height: 48px;
    border: none;
    border-radius: 4px;
    margin: 10px 0;
    width: 100%;
    background-color: #000; 
    color: #FFF;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
}

.button-disabled {
    background-color: #ccc;
}
.btn-white {
    background-color: #fff;
    color: #000;
    font-weight: bold;
}