#Home-View {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
#home-logo {
    width: 180px;
    height: 180px;
}
#home-right {
    background-color: #fff;
    color: #000;
}

#home-legacy {
    bottom: 10px;
    right: 0;
    left: 0;

}

#home-form {
    min-width: 330px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    text-align: left;
}

#home-roomkey-div, #home-joinroomnow-btn  {
    display: none;
}



@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation: portrait)
,(min-device-width : 768px) and (max-device-width : 1024px) and ( -webkit-min-device-pixel-ratio: 1 ) and (orientation: portrait) 

{
    #Home-View {
        flex-direction: column !important;
    }
    #home-left {
        max-height: 300px;
    }
}

