@font-face{
	font-family: 'montserrat-extrabold';
	src:url(../../fonts/Montserrat/Montserrat-ExtraBold.ttf) format('truetype')
}
@font-face{
	font-family: 'montserrat-extralight';
	src:url(../../fonts/Montserrat/Montserrat-ExtraLight.ttf) format('truetype')
}

@font-face{
	font-family: 'montserrat-medium';
	src:url(../../fonts/Montserrat/Montserrat-Medium.ttf) format('truetype')
}

body {
  margin: 0;
  font-family: 'montserrat-medium';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
