#visioroom-container {
    flex: 1;
    position: relative;
    flex-direction: column;
    padding: 15px;
    gap: 10px; 
}
#visioroom-container, .grid3, .grid4 {
    display: grid;
    grid: repeat(2, 50%) / auto-flow;
}
#visioroom-container.grid1 {
    grid: none !important;
}

#visioroom-container.grid2 {
    grid: repeat( 2, 100% ) / auto-flow 50% !important;
    grid-template: none !important;
}

#visioroom-friends {
    position: absolute;
    right: 0;
    width: 200px;
    top: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba( 0, 0, 0, 0.4 );
}


.visios {
    display: flex;
    flex: 1;
    border: 1px solid #000;
    background-color: #202020;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

#close-button {
    /*position: absolute;
    z-index: 20;
    top: 20px;
    left: 20px;
    font-size: 30px;
    background-color: #000;
    padding: 5px;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;*/
    position: absolute;
    z-index: 20;
    top: 0;
    left: 10px;
    font-size: 30px;
    background-color: rgba(0,0,0,0.6);
    padding: 5px;
    width: 40px;
    border-radius: 5px;
    height: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 80px;
}



@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation: portrait)
,(min-device-width : 768px) and (max-device-width : 1024px) and ( -webkit-min-device-pixel-ratio: 1 ) and (orientation: portrait) 

{
    #visioroom-container.grid2 {
        display: grid;
        grid: none !important;
    }

}