.video-player video {
    /*display: block;*/
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.video-player {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none; 
}