#VisioRoom-view {
    display: flex;
    max-width: 100vw; 
}
#visioroom-left {
    flex-direction: column;
    display: flex;
    flex: 1;
    
}
#visioroom-right {
    border-left: 1px solid #2a2a2a;
    display: flex;
    flex: 1;
    max-width: 300px;
}
#visioroom-top-content {
    margin: 10px;
    align-items: center;
}
#visioroom-top {
    margin-left: 20px;
    text-align: left;
    align-items: center;
}
#visioroom-logo {
    width: 30px;
    height: 30px; 
    margin-right: 20px;
}
#visioroom-bottom-bar {
    padding: 10px;
} 
.chat-current {
    color: yellow;
}
#visioroom-chat-icon {
    font-size: 24px;
    display: none;
}


#visioroom-loader {
    position: absolute;
    z-index: 50;
    top: 0px; left: 0px; right: 0px; bottom: 0px;
    background-color: #000;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation: portrait)
,(min-device-width : 768px) and (max-device-width : 1024px) and ( -webkit-min-device-pixel-ratio: 1 ) and (orientation: portrait) 

{
    #VisioRoom-view {
        flex-direction: column;
    }
    #visioroom-right {
        display: none;
        flex: 0;
        position: absolute;
        z-index: 20;
        height: 300px;
        max-width: 100vw;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0, 0.7);
    }

    #visioroom-right.opened {
        display: flex;
    }

    #visioroom-chat-icon {
        font-size: 24px;
        display: flex;
    }
    

    

    #visio-player {
        /*object-fit: cover;
        width: 100%;
        max-height: fit-content;*/
       /* object-fit: cover;*/
        max-height: 100%; 
        min-width: 352px;
        width: 100vw;
    
    }
}