.SeparatorText {
    display: flex;
    flex-direction : row ;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
    color: rgb( 100, 116, 139 );  
}

.SeparatorText .leftzone, .SeparatorText .rightzone {
    display: flex;
    flex: 1;
    height: 1px;
    background: rgb( 226, 232, 240 ); 
}

.SeparatorText .textzone {
    padding: 0 5px;
    font-size: 14px;
    width: fit-content;
    min-width: 50px;
}

